:root {
  --color-primary: #ee0290;
  --color--secondary: #9965f4;
  --color-high: #5300e8;
  --color-medium: #ff8d00;
  --color-low: #70e1f3;
  --color-primaryDark: #1769aa;
  --color-primaryAccent: #2196f3;
  --color--primaryLight: #4dabf5;

  --color-secondaryDark: #ab003c;
  --color-secondaryAccent: #f50057;
  --color-secondaryLight: #f73378;

  --color-link: #304ffe;

  --border-radius: 65px;
  --box-shadow--button: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --box-shadow--card: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Poppins", "sans-serif";
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 0px;
}

/**Dark-theme**/
body.dark-theme {
  transition: all 0.5s ease-in-out;
  color: #fff;
}
body.dark-theme {
  background-color: #262626;
}
body.dark-theme .navbar {
  background-color: #121212;
  border: 0;
}
body.dark-theme .navbar > .navbar__wrapper > .navbar__brand > span {
  color: var(--color--secondary);
}
body.dark-theme .task__card {
  background-color: #121212;
}
body.dark-theme .navbar__wrapper .MuiSvgIcon-root {
  fill: var(--color--secondary);
}
body.dark-theme .fab__primary {
  background-color: var(--color--secondary);
}
body.dark-theme .link__avatar {
  background-color: var(--color--secondary);
}
body.dark-theme .sidebar {
  background-color: #121212;
  border: 0;
}
body.dark-theme .searchbar__sidebar {
  border: 1px solid var(--color--secondary);
}

body.dark-theme .searchbar__sidebar > input {
  color: var(--color--secondary);
}
body.dark-theme .sidebar__links > a {
  color: #fff;
}
body.dark-theme .sidebar__links > a:hover {
  background-color: #5d00ff4d;
}
body.dark-theme .sidebar__header__wrapper > span {
  color: var(--color--secondary);
}
body.dark-theme .task-creation {
  background-color: #121212;
  border: 1px solid var(--color--secondary);
}
body.dark-theme .task__creation__haeder_left > span {
  color: var(--color--secondary);
}
body.dark-theme .task__name {
  color: var(--color--secondary) !important;
}
body.dark-theme .task-creation .MuiSvgIcon-root {
  fill: var(--color--secondary);
}
body.dark-theme .task__creation__haeder {
  border-bottom: 1px solid var(--color--secondary);
}
body.dark-theme .form__control > select {
  padding: 0.5em;
  border: 2px solid var(--color--secondary);
  background-color: #121212;
  border-radius: 5px;
  color: var(--color--secondary);
}
body.dark-theme select option {
  color: var(--color--secondary) !important;
}
body.dark-theme .MuiInputLabel-formControl {
  color: var(--color--secondary) !important;
}
body.dark-theme .MuiInput-underline {
  border-bottom: 1px solid var(--color--secondary);
}
body.dark-theme #datetime-local {
  color: var(--color--secondary) !important;
}
body.dark-theme .task__modal__wrapper {
  background-color: #121212;
  border: 1px solid var(--color--secondary);
}
body.dark-theme .task__modal__header .MuiSvgIcon-root {
  fill: var(--color--secondary);
}
body.dark-theme .searchBarMobile > input {
  color: var(--color--secondary);
}
.navbar__wrapper .MuiSvgIcon-root {
  fill: #fff;
}
